@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

body {
  background-color: #121212; /* Dark background for the entire app */
  color: #cfd2da; /* Light text color for better readability */
  font-family: 'Arial', sans-serif; /* Optional: Choose a modern font */
  font-size: larger;
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  margin: 0;
  margin-left: 20px;
}

h4 {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-left: 23px;
  font-size: 0.8rem;
}

/* Card Style */
.card {
  background-color: #1e1e1e; /* Dark background for cards */
  color: #cfd2da; /* Light text color */
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: rgb(156, 156, 156) 1px solid;
  border-radius: 10px;
}

/* Main Content Area */
.content {
  flex: 1;
}

.content img {
  max-width: 50%;
  border-radius: 5px; /* Rounded corners for images */
}

/* Project Container */
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  background-color: #1e1e1e; /* Dark background */
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* Consistent shadow styling */
}

/* Button Styles */
button {
  padding: 10px 15px;
  margin: 10px; /* Added margin for spacing between buttons */
  border: none;
  border-radius: 5px;
  background-color: #1e481f; /* Developer green color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em; /* Optional: Adjust the font size as needed */
}

button:hover {
  background-color: #43A047; /* Slightly darker green on hover */
}


/* Header Styles */
/* This will ensure the header stays at the top of the page and spans full width */
header {
  font-family: 'Grandiflora One', cursive;
  margin-top: 0.4rem;
  margin-left: 0.8rem;
  display:flex;
  width: 30vw;
  min-width: 250px;
  flex-direction: column;
  color: #cfd2da;
  padding: 1rem 0;
  background-color: #121212;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 10; /* Ensure the header is above other content */
}

nav {
  margin-top: 2rem;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  font-weight: 600;
}

nav div {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; /* To indicate the divs are clickable */
  padding: 0.5rem 1rem; /* Add some padding around the links */

}

nav a {
  text-decoration: none;
  width: 30%;
  min-width: 125px;
}

nav div:hover {
  color: #9fdbd3;
  text-decoration: underline; /* Optionally add underline on hover */
}

nav .active div {
  /* Style for the active link */
  position: relative;
}

nav .active div::after {
  /* The "<" character at the end of the active link */
  content: "<";
  position: absolute;
  right: 20px; /* Adjust as needed */
  top: 7.5px;
  color: #ffffff; /* Color of the indicator */
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  background-color: #1e1e1e; /* Dark background */
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); /* Consistent shadow styling */
}

.projects-container {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2em;
  padding: 2em;
}

.projects-container h1 {
  margin: 1rem;
  font-family: 'Grandiflora One', cursive;
  font-size: 2rem;
  font-weight: 600;
}

.projects-container h1:hover {
  color: #585858;
  cursor: pointer;
}

/* Optional: Add some spacing to the main content so it doesn't overlap with the fixed header */
main.content {
  
}


/* Footer Styles */
footer {
  background-color: #1e1e1e; /* Dark background for footer */
  color: #cfd2da; /* Light text color */
  padding: 1rem 0;
  text-align: center;
}
/* General Styles for the AI Section */
.AISection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  padding: 2rem;
  border: 2px solid #2e3038; /* Subtle border color */
  border-radius: 15px;
  background-color: #1e1e1e; /* Dark background color */
  color: #cfd2da; /* Light text color for better readability */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adding a subtle shadow */
  max-width: 80%; /* Adjust as necessary */
  width: 100%;
}

/* Styles for User and AI Messages */
.user-message, .assistant-message {
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.user-message {
  color: #ffe98a; /* Light yellow for user messages */
  background-color: #2e3038; /* Slightly darker background for messages */
  align-self: flex-end; /* Align user messages to right */
}

.assistant-message {
  color: #9fdbd3; /* Soft green for AI messages */
  background-color: #25262d; /* Slightly different background for contrast */
  align-self: flex-start; /* Align AI messages to left */
}

/* Input Field and Send Button Styles */
input[type='text'] {
  padding: 10px;
  margin-top: 10px;
  width: calc(100% - 22px); /* Full width minus padding */
  border: none;
  border-radius: 5px;
  background-color: #2e3038;
  color: #fff;
}